{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <title>Backdoor Central Web</title>
</head>
<body>
<a href="{% url "index" %}">Home</a>
<a href="/admin">Administration</a>
<a href="{% url "start_session_selection" %}">Start A Session</a>
{% if not user.is_authenticated %} <a href="{% url "login" %}">Login</a> {% else %} <a href="{% url "logout" %}">Logout</a>  {% endif %}
<br>
{% if user.is_authenticated %}

    <p>Welcome {{ user.username }}<br></p>

{% endif %}

{#<a href="{% url "batch_selection" %}">Run a batch</a>#}
{#<a href="{% url "file_upload" %}">Upload a File</a>#}
{#<a href="{% url "download_list" %}">Download Results</a>#}
{#<a href="{% url "view_data_selection" %}">View Data</a>#}
{#<a href="{% url "search" %}">Search</a>#}
<br><br>

{% block content %}
{% endblock %}
</body>
</html>